<div id="Header">
  <span class="title">Skapa ny användare</span>
</div>

<div class="center_container">
<%= form_for @user do |u| %>
  <div class="form_field_div">
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
    <% if @user.errors[:first_name].any? %>
      <small class="error"><%= @user.errors[:first_name].first %></small>
    <% end %>
  </div>

  <div class="form_field_div">
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
    <% if @user.errors[:last_name].any? %>
      <small class="error"><%= @user.errors[:last_name].first %></small>
    <% end %>
  </div>

  <div class="form_field_div">
    <%= u.label :email %>
    <%= u.text_field :email %>
    <% if @user.errors[:email].any? %>
      <small class="error"><%= @user.errors[:email].first %></small>
    <% end %>
  </div>

  <div class="form_field_div">
    <%= u.label :password %>
    <%= u.password_field :password %>
    <% if @user.errors[:password].any? %>
      <small class="error"><%= @user.errors[:password].first %></small>
    <% end %>
  </div>

  <div class="form_field_div">
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation %>
    <% if @user.errors[:password_confirmation].any? %>
      <small class="error"><%= @user.errors[:password_confirmation].first %></small>
    <% end %>
  </div>

  <div>
    <%= u.submit "Skapa användare" %>
  </div>
<% end %>
</div>
